*{
    background-color: #333232;
    color: #bfbcbb;
    margin: 0px;
    padding: 0px;
}
.none {
    display: none;
}

.fetch-example {
    width: 440px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 2px
}
#btnCenter {
    height: 16px;
    width: 16px;
    border: 2px solid gray;
    border-radius: 2px;
    text-align: center;
    line-height: 16px;
    position: fixed;
    left: 454px;
    top: 10px;
}
h2{
    text-align: center;
    margin-top: 10px;
}
.currency-row {
    border: 2px solid gray;
    border-radius: 2px;
    line-height: 60px;
    margin-top: 20px;
    height: 60px;
    width: 210px;
}
#currency-info-left {
    float: left;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 2px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
#dollar {
    float: left;  
}
#currency-info-right {
    float: left;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 2px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}
#euro {
    float: left;
    margin-left: 10px;
}
.currency-container {
position: fixed;
margin: 10px;
border-left: 2px solid gray;;
border-radius: 2px;
height: 35px;
width: 185px;
text-align: center;
line-height: 35px;

}
.currency-change {
    float: left; 
    border: 2px solid gray;
    border-radius: 2px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px; 
    border-left: 0px;
}
    #btnCenter:hover {
        cursor: pointer;
        background-color: #bfbcbb;
        color: #333232;
        border-radius: 4px;
    }
    .currency-change:hover {
        cursor: pointer;
        background-color: #bfbcbb;
        color: #333232;
        border-radius: 2px; 
    }
    #currency-info-right:hover {
        cursor: pointer;
        background-color: #bfbcbb;
        color: #333232;
        border-radius: 4px; 
    }