*{
    margin: 0px;
    padding: 0px;

    background-color: #333232;
    color: #bfbcbb;
}
.none {
    display: none;
}
.fetch-example {
    position: relative;

    width: 440px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 2px
}
.btnCenter {
    position: absolute;
    right: -2px;
    top: -2px;

    height: 16px;
    width: 16px;
    border: 2px solid gray;
    border-radius: 2px;
    text-align: center;
    line-height: 16px;
}
h2{
    text-align: center;
    margin-top: 10px;
}
.currency-row {
    float: left; 
    
    height: 60px;
    width: 210px;
    margin-top: 20px;
    line-height: 60px;
    border: 2px solid gray;
    border-radius: 2px;
}
.left{
    margin-right: 10px;
}
.currency-container {
position: fixed;

height: 35px;
width: 185px;
text-align: center;
line-height: 35px;
margin: 10px;
border-left: 2px solid gray;;
border-radius: 2px;

}
.currency-change {
    float: left; 

    height: 35px;
    width: 35px;   
     text-align: center;
    line-height: 35px; 
    border: 2px solid gray;
    border-radius: 2px;
    border-left: 0px;
}
.first-view {
    margin: 10px;
    border: 2px solid gray;
}
.date {
    position: absolute;
    right: 5px;
    bottom: 3px;

    font-size: 12px;
}
    .btnCenter:hover {
        cursor: pointer;
        background-color: #bfbcbb;
        color: #333232;
        border-radius: 4px;
    }
    .currency-change:hover {
        cursor: pointer;
        background-color: #bfbcbb;
        color: #333232;
        border-radius: 2px; 
    }